@font-face {
    font-family: Giraffella;
    src: url("Giraffella.otf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    background-color: #EDF2F4;
}

#logo {
    width: 150px;
    padding: 20px;
    filter: invert(100%) sepia(0%) saturate(4820%) hue-rotate(305deg) brightness(110%) contrast(92%);
}

#nav-bar {
    text-align: center;
    overflow: auto;
    background-color: #2B2D42;
    box-shadow: 0 0 5px #111111;
}

#main-quote {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#sub-quote {
    text-align: center;
    font-size: 25px;
}

#main-container {
    color: #111111;
    margin-inline: 10px;
}

#password-container {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#status {
    text-align: center;
    height: 16px;
    color: #D90429;
}

.status-lineUp {
    animation: 1s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

.status-lineDown {
    animation: 1s anim-lineDown ease-out;
}

@keyframes anim-lineDown {
    0% {
        opacity: 1;
        transform: translateY(0%);
      
    }
    20% {
        opacity: 1;
        transform: translateY(0%);
      
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(80%);
    }
}

#password-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#password {
    margin: 0px;
    background-color: #2B2D42;
    color: whitesmoke;
    padding: 10px 20px;
    height: 40px;
    width: 250px;
    border-radius: 25px 0px 0px 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#cpy-btn {
    height: 40px;
    background-color: #D90429;
    border: none;
    padding: 12px 15px 12px 12px;
    border-radius: 0px 25px 25px 0px;
    transition: background-color 150ms;
    cursor: pointer;
}

#cpy-btn:hover {
    background-color: #EF233C;
}

#cpy-btn:disabled {
    background-color: gray;
}

#gen-btn {
    background-color: #D90429;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 150ms, transform 150ms;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: whitesmoke;
    cursor: pointer;
}

#gen-btn:hover {
    background-color: #EF233C;
    transform: scale(1.1);
}

#gen-btn:active {
    background-color: #EF233C;
    transform: scale(0.9);
}

#option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#option-container p {
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-left: 10px;
    accent-color: #D90429;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

#range-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#range-container p {
    margin-right: 10px;
}

input[type="range"] {
    accent-color: #D90429;
    cursor: pointer;
    width: 300px;
}

#output {
    position: relative;
    height: 30px;
    width: 30px;
}

.range-slider {
    display: flex;
    gap: 5px;
}

#range-out {
    position: absolute;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #D90429;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    color: whitesmoke;
}

#range-out:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-right: 10px solid #D90429;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    top: 35%;
    right: 95%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2B2D42;
    color: whitesmoke;
    margin-top: auto;
    padding: 20px;
}

@media (max-width: 800px) {
    #main-quote {
        font-size: 32px;
    }

    #sub-quote {
        font-size: 20px;
    }

    #password-container {
        flex-direction: column;
    }

    #option-container {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas: 
        "text text"
        "input input"
        "input input";
        grid-gap: 10px;
    }

    #option-container p {
        margin: 10px;
        grid-area: text;
        align-self: center;
        justify-self: center;
    }

    #option-container div {
        align-self: center;
        justify-self: center;
    }

    #option-container input {
        margin: 0;
        height: 20px;
        width: 20px;
    }

    #range-container {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-template-areas: 
        "text text"
        "input input";
        grid-gap: 10px;
    }

    #range-container p {
        margin: 10px;
        grid-area: text;
        align-self: center;
        justify-self: center;
    }

    .range-slider {
        grid-area: input;
        align-self: center;
        justify-self: center;
    }

    input[type="range"] {
        width: 60dvw;
    }
}